spring:
  h2.console:
      enabled: true
      path: '/h2'
  datasource:
    url: 'jdbc:h2:file:./todo-db'
    username: 'sa'
  jpa:
    hibernate:
      ddl-auto: validate

management:
  endpoints:
    web:
      exposure:
        include: '*'

keycloak:
  auth-server-url: 'http://localhost:8180/auth'
  realm: 'TodoApp'
  resource: 'todo-app-client-spring'
  public-client: true



